:root {
  /* colors */
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  
  /* font related variables */
  --font-size: 14px;
  --font-family: "Inter", sans-serif;
  --font-weight-md: 400;
  --font-weight-lg: 600;
  --font-weight-xlg: 700;
 
  /* values */
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xlg: 3rem;
  --xxlg: 4rem;
}

@font-face {
  font-family: "Inter";
  src: url("public/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("public/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("public/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* mobile first CSS approach */

body {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0;
  background-color: var(--grey-900);
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100% - 2rem, 24rem);
  box-sizing: border-box;
  background-color: var(--grey-800);
  text-align: center;
  margin: 0 auto;
  border-radius: var(--md);
  padding: var(--lg);
}

.profile {
  margin: var(--sm);
}

.profile__img {
  border-radius: 50%;
  width: 7.5rem;
  margin: var(--md);
}

.profile__caption {
  font-size: 1.5rem;
  font-weight: var(--font-weight-lg);
  color: var(--color-primary);
  text-transform: capitalize;
}

.address {
  color: var(--color-secondary);
  font-weight: var(--font-weight-lg);
  text-transform: capitalize;
  margin: 0;
}

.info-heading {
  font-weight: var(--font-weight-md);
  font-size: var(--font-size);
  margin: var(--md);
}

.navbar {
  width: 100%;
  margin: 0 auto;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  padding: 0;
  margin: 0;
}

.navbar-list__item-link {
  display: block;
  margin: 0;
  padding: var(--md);
  background-color: var(--grey-700);
  color: var(--color-primary);
  border: none;
  border-radius: var(--sm);
  text-decoration: none;
  color: var(--color-primary);
  font-weight: var(--font-weight-lg);
  transition: all 0.15s ease-in-out;
}

.navbar-list__item-link:hover {
  outline: none;
  border-radius: 3vw;
  color: var(--color-primary);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.navbar-list__item-link:focus {
  outline: 3px solid var(--color-secondary);
  outline-offset: 4px;
  background-color: var(--color-secondary);
  color: var(--grey-900);
}

@media (min-width: 376px) and (max-width: 767px) {
  .navbar-list {
    gap: 2.25vw;
  }

  .container {
    padding: var(--xlg);
  }

  .profile__img{
    width:8rem;
  }
}
@media (min-width: 768px) {
  .navbar-list {
    gap: 1.5vw;
  }

  .container {
    padding: var(--xxlg);
  }

   .profile__img{
    width:8.5rem;
  }
}